main{
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    gap: 32px;
}

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12,1fr);
}
.heading {
    background-color: lightblue;
    text-align: center;
    grid-column: 1 / 13;
    grid-row: 1 / 5;
    margin: 0;
    z-index: -1;

}
.description {
    background-color: rgb(255, 255, 255,0.5);
    border: 1px solid black;
    padding: 24px;
    border-radius: 8px;
    text-align: center;
    grid-column: 3 / 11;
    grid-row: 4 / -1;
    margin-bottom: 16px;
}
.myblog{
    text-align: justify;
}


.blog-post {
    background-color: white;
    padding: 16px;
    overflow: hidden;
    text-align: center;
    margin: 20px 10px;
    border-radius: 15px;
}

.blog-image{
    width: 400px;

}
.post-heading{
    color: white;
    background-color: grey;
    border-radius: 25px;
}
.blog-text{
    max-width: 50ch;
    text-align: justify;
}
.blog-text p {
    background-color: grey;
    color: white;
    border-radius: 15px;
    padding: 5px;
    border:2px solid black;
}
@media screen and (width > 600px){
    .blog{
        display: flex;
        flex: row;
        flex-wrap:wrap;
        gap:10px;
        justify-content: space-around;
        align-items: center;
        margin: 10p;
    }
}
    