/* home page design aspects */
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 32px;
}


.profile-photo img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid white;

}
.profile-photo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 3rem;
}
.home-introduction{
    display: flex;
    flex-wrap: wrap;
    border-radius: 20px;
    padding: 20px;
    width: 700px;
    gap:15px;
    justify-content: center;
}

.introduction {
    display: flex;
    max-width: 35ch;
    background-color: rgb(255, 255, 255, 0.6);
    border-radius: 15px;
    padding: 40px;
}

.intro-card{
    background-image: linear-gradient(grey, rgb(156, 152, 152));
    padding:16px;
    border-radius: 20px;
}
.intro-card:hover{
    box-shadow: 5px 5px 5px white;
}
.intro-bio{
    display: flex;
    max-width: 38ch;
    background-color: grey;
    border-radius: 15px;
    padding: 20px;
    background-image: linear-gradient(grey, rgb(156, 152, 152));
}
.intro-bio:hover{
    box-shadow: 5px 5px 5px white;
}
.about-me{
    display: flex;
    padding: 40px;
    background-color: rgb(255, 255, 255, 0.6);
    border-radius: 15px;
}
h2{
    background-color: rgb(255, 255, 255, 0.6);
    padding: 10px;
    border-radius: 15px;
    text-align: center;
    font-size: 17px;
    width: 280px;
}
.a:hover{
    background-color: rgb(227, 153, 153);
}
.b:hover{
    background-color: rgb(237, 203, 140);
}
.c:hover{
    background-color: rgb(179, 241, 179);
}
.d:hover{
    background-color: rgb(173, 216, 230);
}
.e:hover{
    background-color: rgb(198, 145, 198);
}
/* Responsiveness for iPad 600-1200 */
@media screen and (width > 600px){
    .home-introduction{
        display: flex;
        flex-direction: row;
    }
}

/* Responsiveness for 1200+ */
    