/* Root menu of all pages */
:root {
    --primary-color: rgb(132, 132, 131);
    --secondary-color: grey;
    --primary-background: black;
    --secondary-background: white;
}
body {
    margin: 0;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: linear-gradient(white, grey);
}
header{
    background-color: var(--primary-color);
    text-align: center;
    padding: 12px;
    padding-top: 5rem;
}
.heading {
    background-color: rgb(255, 255, 255,0.5);
    border: 1px solid black;
    padding: 24px;
    border-radius: 8px;
    text-align: center;
    grid-column: 2 / 12;
    grid-row: 4 / -1;
    margin-bottom: 16px;
}
/* Grid  */
.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12,1fr);
}
/* Logo with Mongram Initials */
.logo a img {
    height: 100px;
    border-radius: 12%;
    border: 1px solid black;
    box-shadow: 1px 1px 5px;
}
/* navigation bar */
.nav-items {
display:flex;
justify-content: space-around;
align-items: center;
height: 40px;
width: 100%;
background-color: white;
border-radius: 15px;
box-shadow: 5px 5px 5px;
list-style: none;
z-index: 1;

}
.nav-link {
    text-decoration: none;
    padding: 8px;
    border-radius: 1rem;
    transition: all 0.3s ease-in-out;

}
nav a:hover{
    background-color: white;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-weight: 800;
}

.nav-items a {
    color: black;
    
    border-radius: 15px;
    text-decoration: none;
    font-size: 16px;
}


h1{
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: justify; 
}
/* footer with social media and  */
footer{
    background-color: var(--primary-color);
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    box-shadow: rgb(0, 0, 0, 0.5), 10px 10px 10px;

}
.social-media{
    display: flex;
    justify-content:center;
    gap: 1rem;
    margin-bottom: 10px;
}
.social-media a i{
    font-size: 40px;
    color: white;
    padding:4px;
    border: 1px solid grey;
    border-radius: 10px;
    background-color: grey;    
}
.social-media a i:hover{
    color: grey;
    border: 1px solid white;
    background-color: white;
    box-shadow: 5px 5px 5px white;
}
/* media queries */
@media screen and (width > 600px) {
    header{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    .social-media{
        display: flex;
        justify-content:center;


    }
}