/* Project design aspect */
main{
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    gap: 32px;
}

.myprojects{
    text-align: justify;
}
.heading h1{
  font-size: 30px
}
.projects {
    display: flex;
    position:relative;
    background-color: rgb(255, 255, 255, 0.6);
    padding: 14px;
    border-radius: 16px;
    margin: 30px; 
    box-shadow: 5px 5px 5px black;
    animation-duration: 2s;
    animation-iteration-count:infinite;
    transform-origin:bottom;
  }
  
  .project-image {
    display: block;
    width: 300px;
    height: 300px;
    border-radius: 20px;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: white;
    border-radius: 15px;
  }
  
  .projects:hover .overlay {
    opacity: 0.7;
  }
  .projects:hover, .projects:active{
    box-shadow: 5px 5px 5px white;
    animation-name: bounce;
    transition: all 0.4s ease;
  }
  
  .project-text {
    color: black;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 275px;
    height: 300px;
    text-align: justify;
  }
/* Media Quereies for Projects */
/* Media screens greater than 600px */
@media screen and (width > 600px){
    .projects{
        display: flex;
        flex: row;
        flex-wrap:wrap;
        gap:10px;
        justify-content: space-around;
        align-items: center;
        margin: 10p;
    }
    .project-image{
      width:400px;
      height: 400px;
    }
  }
    /* Media screens greater than 1200px */
@media screen and (width > 1200px){
      .projects{
          display: flex;
          flex: row;
          flex-wrap:wrap;
          gap:10px;
          justify-content: space-around;
          align-items: center;
          margin: 10p;
      }
      .project-image{
        width: 600px;
        height: 600px;
      }
    }
      /* Media screens greater than 1800px */
@media screen and (width > 1800px){
        .projects{
            display: flex;
            flex: row;
            flex-wrap:wrap;
            gap:10px;
            justify-content: space-around;
            align-items: center;
            margin: 10p;
        }
        .project-image{
          width: 800px;
          height: 800px;
        }

    }